body {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgba(133, 70, 50, 0.35);
  text-align: left;
  font-size: 16px;
  font-weight: 400;
}

main {
  background-color: white;
  border-radius: 25px;
  width: 40%;
}

.card {
  padding: 0.5rem;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: 35vw;
  margin: auto;
  padding-bottom: 0.3rem;
  padding-top: 1rem;
}

h1 {
  font-size: 44px;
  padding-left: 20px;
  margin: 0;
  text-align: left;
}

h2 {
  font-size: 30px;
  color: hsl(14, 45%, 36%);
  margin: 0.5em;
}

h2#preparation-time {
  font-family: 'Outfit', sans-serif;
  font-size: 24px;

  color: hsl(332, 51%, 32%);
  margin: 1rem;
  padding-left: 0.8rem;
}

p,
li,
ul,
ol,
tr {
  font-family: young, sans-serif;
  color: grey;
  line-height: 1.6;
  padding-left: 0.5rem;
  margin: 8px;
}

b {
  font-weight: 600;
  color: hsl(24, 5%, 18%);
}

header>p {
  padding: 18px;
  margin-top: 0;
  margin-bottom: 0;

}

#preparation-time {
  color: hsl(332, 51%, 32%);
}

header,
section {
  margin: 1rem;
  padding: 0;
}

.preparation {
  background-color: hsla(332, 51%, 32%, 10%);
  border-radius: 25px;
  margin: 1.3em;
}

section.preparation {
  padding: 1em;
  margin: 1rem;
  margin-bottom: 0;
}

section.preparation>ul {
  padding-left: 2em;
}

section.ingredients {
  padding: 1em;
  margin-top: 0.2em;
  margin-bottom: 0;
}

section.instructions {
  padding: 1em;
  margin-top: -1em;
}

section.nutrition {
  padding: 1em;
  margin-top: -1em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

ol li::marker {
  color: hsl(14, 45%, 36%);
}

ul li::marker {
  color: hsl(14, 45%, 36%);
}

.nutrition-details {
  color: hsl(14, 45%, 36%);
  padding-right: 12rem;
}


hr {
  border: none;
  border-top: 1px solid hsl(30, 18%, 87%);
  height: 10px;
  margin: 10px 10px;
}

td {
  border: 1px solid hsl(30, 18%, 87%);
  width: 90%;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  padding: 1em;
  padding-left: 2em;
  font-weight: 600;
}

@media screen and (max-width: 480px) {

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    text-align: left;
    font-size: 16px;
    font-weight: 400;
  }

  main {
    background-color: white;
    width: 100%;
  }


  img {
    display: flex;
    justify-content: center;
    border-radius: inherit;
    padding: 0;
    width: 110vw;
  }

  .card {
    padding: 0rem;
    margin: 0;
  } 

  h1 {
    font-size: 38px;
    padding-left: 14px;
    text-align: left;
}

  header > p {
    padding: 8px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
  }
}