body {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgba(133, 70, 50, 0.35);
  text-align: left;
}

main {
  background-color: white;
  border-radius: 25px;
  width: 40%;
}

.card {
  padding: 0.7rem;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 35vw;
  margin: auto;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

h1 {
  font-family: young;
  font-size: 44px;
  padding-left: 20px;
  margin: 0;
  text-align: left;
}

h2 {
  font-family: young;
  font-size: 30px;
  color: hsl(14, 45%, 36%);
}

h2#preparation-time {
  color: hsl(332, 51%, 32%);
}

p, li, ul, ol, tr{
  font-family: young, sans-serif;
  color:grey;
  line-height: 1.7;
  padding: 0.3rem;
}

b {
  font-weight: 600;
  color: hsl(24, 5%, 18%);
}

header > p {
  padding: 18px;
  margin-top: 0;
  margin-bottom: 0;

}

#preparation-time {
  color: hsl(332, 51%, 32%);
}

header, section {
 margin: 1rem;
 padding: 0;
}

.preparation {
  background-color: hsla(332, 51%, 32%, 10%);
  border-radius: 25px;
  margin: 1.3em;
}

section.preparation {
  padding: 1.2em;
  margin: 1rem;
}

section.preparation > ul {
  padding-left: 2em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

ol li::marker {
  color: hsl(14, 45%, 36%);
}

.nutrition-details {
  color: hsl(14, 45%, 36%);
}

/* table {
  border-bottom: 1px solid black;
} */

tr {
  border: 1px solid #ccc; /* Border style, adjust color as needed */
  margin: 20px 0; /* Adjust the margin to control spacing around the line */
}